body {
  color: blue;
  font-family: Arial;
  text-align:centre;
  }
  .todo-row:nth-child(4n+2){
    background: linear-gradient(
      rgba(19,158,255,1)0%
      rgba(18,122,255,1)100%

    );
  }
  .icons{
    display: flex;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
  }
  .delete-icon{
    margin-right: 6px;
    color:darkmagenta;
  }
  .edit-icon{
    color:blue;
  }
  .todo-input::placeholder{
    color: blue;
  }
  .todo-button{
    padding: 15px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor:pointer ;
    outline: none;
    background: linear-gradient(90deg,
    rgba(90,12,255,1)0%
    rgba(155,0,250,1)100%
    );
    color: blue;
    text-transform: capitalize;
  }
  .todo-input{
    padding: 14px 33px 15px 16px;
    border-radius: 4px 0 0 4px ;
    border: 3px solid violet ;
    outline: none;
    width:321px;
    background: transparent;
    color: violet;

  }
  .todo-form{
    margin-bottom: 33px;
  }
  .complete{
    text-decoration: line-through;
    opacity: 0.4;
  }
  .todo-app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 521px;
    min-height: 600px;
    background: black;
    text-align: center;
    margin: 129px;
    border-radius: 11px;
    padding-bottom: 33px;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h1{
    margin: 33px 0;
    color: #000;
    font-size: 25px;
  }
  .todo-button.edit{
    background: linear-gradient(90deg
    rgba(19,158,255,1)0%
    rgba(18,122,255,1)100%
    );
    padding: 16px 21px;
  }
  .todo-input.edit{
    border: 3px solid black;
  }
  .todo.container{
    display: flex;
    flex-direction:row ;
    position: relative;
  }
  .todo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color:blue;
    background: linear-gradient(
      90deg,
      rgba(255,117,20,1)0%
      rgba(255,85,16,1)100%
    );
    padding: 15px;
    border-radius: 5px;
    width: 90%;
  }
  .todo_row:nth_child(4n+1){
    background: linear-gradient(
      90deg,
      rgba(92,11,255,1)0%
      rgba(154,0,254,1)100%
    );
  }
  .todo_row:nth_child(4n+2){
    background: linear-gradient(
      90deg,
      rgba(255,11,240,1)0%
      rgba(254,0,134,1)100%
    );
  }
  .todo_row:nth_child(4n+3){
    background: linear-gradient(
      90deg,
      rgba(21,110,255,1)0%
      rgba(15,122,254,1)100%
    );
  }